section {
  display: flex;
  justify-content: space-between;
}

.cartouche {
  background: var(--lightgrey);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.cartouche h2 {
  margin-top: 30px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

#suggestions {
  width: 66%;
}

#populars {
  width: 31%;
  height: auto;
}

#miniatures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.miniature {
  height: 230px;
  background: white;
  margin: 15px 0;
  padding: 5px;
  border-radius: 18px;
  box-shadow: 0 0 20px 1px rgba(109, 109, 109, 0.2);
  transition: all 0.2s linear;
  cursor: pointer;
}

#suggestions .miniature {
  width: 280px;
}

#populars .miniature {
  height: 170px;
  display: flex;
  align-content: stretch;
  width: 100%;
}

.miniature:hover {
  box-shadow: 0 0 30px 2px var(--grey);
  transform: translateY(-7px);
  background: var(--blue);
  color: white;
}

.img-container {
  width: 100%;
  background-size: cover;
  background-position: center;
}

#suggestions .img-container {
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#populars .img-container {
  width: 130px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 10px;
  flex-shrink: 0;
}

.miniature__description {
  padding-left: 12px;
}

.miniature__description p:nth-child(1) {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 16px;
}

.miniature__description p:nth-child(2) {
  margin-bottom: 5px;
}

#populars .miniature__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.stars {
  font-size: 14px;
}

.fa-star {
  color: var(--lightgrey);
  cursor: pointer;
}

.fa-star.active {
  color: #167af4;
}

/*# sourceMappingURL=style-suggestions.css.map */
