/* 
============
|| NAVBAR || 
============
*/
header {
  min-height: 130px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
header .logo-reservia {
  align-self: center;
  width: 110px;
  position: relative;
  top: 12px;
}
header .nav {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
header .nav__link {
  width: 180px;
  text-align: center;
  line-height: 120px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  border-top: 2.5px solid transparent;
}
header .nav__link--active {
  color: var(--blue);
  border-top: 2.5px solid var(--blue);
}
header .nav__link--register {
  font-weight: bold;
  color: var(--blue);
}
header .nav__link a {
  cursor: pointer;
}
header .nav__link :hover {
  color: var(--blue);
}

/* 
=================
|| SEARCH BLOC || 
=================
*/
.search-bloc {
  margin-bottom: 50px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

.search-bar {
  height: 60px;
  max-width: 580px;
  margin: 22px 0;
  display: flex;
}

.location-icon {
  min-width: 60px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: lightgrey;
  border: 3px solid rgba(235, 234, 234, 0.267);
  font-size: 20px;
  text-align: center;
  line-height: 55px;
}

.search-input {
  min-width: 267px;
  height: 99.3%;
  align-self: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 21px;
  border: none;
  background: var(--blue);
  cursor: pointer;
}

/* 
=============
|| FILTERS || 
=============
*/
.filters {
  display: flex;
  height: 74px;
  align-items: center;
  padding-left: 9px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

> p {
  margin-right: 30px;
}

.filter {
  border: 2px solid lightgrey;
  height: 57px;
  border-radius: 30px;
  padding: 10px 0;
  margin-right: 27px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s linear;
  cursor: pointer;
}

.filter:hover {
  background-color: var(--blue);
  color: white;
  border: 2px solid blue;
}

.filter p {
  margin: 0 20px;
  margin-left: 69px;
}

.filter-icon {
  width: 57px;
  height: 57px;
  border-radius: 30px;
  position: absolute;
  left: -2px;
  background: var(--paleblue);
  color: var(--blue);
  text-align: center;
  line-height: 60px;
}

#search-info {
  margin-left: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#icon-info {
  height: 25px;
  width: 25px;
  border: 1.5px solid lightgrey;
  color: var(--blue);
  border-radius: 30px;
  text-align: center;
  margin-right: 13px;
}

span {
  font-family: "Trebuchet MS";
  font-size: 16px;
}

/*# sourceMappingURL=style-head.css.map */
