/* Import font */
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-VariableFont_wght.ttf");
}
:root {
  --grey: rgb(113, 113, 113);
  --lightgrey: rgba(226, 226, 226, .7);
  --blue: rgb(29, 89, 254);
  --paleBlue: rgba(214, 230, 255);
}

body {
  padding: 0 60px;
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
  margin: 0;
}

/*# sourceMappingURL=style-variables.css.map */
