@media screen and (max-width: 768px) {
  #main {
    margin: 0;
    width: 100vw;
    border: 2px solid red;
  }

  header, .search-bloc {
    padding: 0 3vw;
  }

  section {
    min-width: 100vw;
    border: 3px solid green;
  }
  section .cartouche {
    margin: 0;
    width: 100vw;
    border-radius: 0;
  }
  section .cartouche__suggestions {
    order: 2;
    background: white;
  }
  section .cartouche__populars {
    order: 1;
  }
  section .cartouche__activities {
    order: 3;
  }
  section .miniatures {
    width: 100%;
  }
  section .miniatures__suggestions {
    justify-content: center;
  }
  section .miniatures__populars {
    justify-content: center;
  }
  section .miniatures__activities {
    border: 1px solid pink;
    height: auto;
  }
  section .miniature--populars {
    width: 100vw;
    height: 170px;
    display: flex;
    align-content: stretch;
  }
  section .miniature--populars__image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  section .miniature--activities {
    width: 100%;
    border: 3px solid red;
    margin-right: 0px;
    padding: 0;
    padding-bottom: 1px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  section .miniature--activities__image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  section .miniature--activities__image--s {
    height: 118px;
  }
  section .miniature--activities__image--m {
    height: 167px;
  }
  section .miniature--activities__image--l {
    height: 366px;
  }
  section .miniature--activities__description {
    margin: 15px 10px;
  }
}

/*# sourceMappingURL=responsive.css.map */
