/* Import font */
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-VariableFont_wght.ttf");
}
:root {
  --grey: rgb(113, 113, 113);
  --lightgrey: rgba(226, 226, 226, .7);
  --blue: #0065FC;
  --paleBlue: #DEEBFF;
}

#main {
  margin: 0 3vw;
  width: 1570px;
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

.stars {
  font-size: 14px;
}
.stars .fa-star {
  color: var(--lightgrey);
  cursor: pointer;
}
.stars .active {
  color: #167af4;
}

/*# sourceMappingURL=style-variables.css.map */
