section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cartouche {
  background: var(--lightgrey);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.cartouche h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.cartouche__suggestions {
  margin-right: 60px;
  width: 66%;
}
.cartouche__activities {
  background: white;
  width: 100%;
}

.miniatures {
  display: flex;
}
.miniatures__suggestions {
  flex-wrap: wrap;
}
.miniatures__populars {
  flex-direction: column;
}
.miniatures__activities {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
  height: 450px;
}

.miniature {
  background: white;
  margin: 15px 15px;
  padding: 5px;
  border-radius: 18px;
  box-shadow: 0 0 20px 1px rgba(109, 109, 109, 0.2);
  transition: all 0.2s linear;
}
.miniature:not(.miniature--activities):hover {
  box-shadow: 0 0 30px 2px var(--grey);
  transform: translateY(-7px);
  background: var(--blue);
  color: white;
}
.miniature__image {
  background-size: cover;
  background-position: center;
}
.miniature__description {
  padding-left: 12px;
}
.miniature__description p:nth-child(1) {
  margin: 8px 0;
  font-size: 16px;
  padding-right: 10px;
}
.miniature__description p:nth-child(2) {
  margin-bottom: 5px;
}
.miniature--suggestions {
  width: 280px;
  padding-bottom: 10px;
}
.miniature--suggestions__image {
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.miniature--populars {
  width: 350px;
  height: 170px;
  display: flex;
  align-content: stretch;
}
.miniature--populars__image {
  width: 130px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 10px;
  flex-shrink: 0;
}
.miniature--activities {
  width: 320px;
  margin-right: 50px;
  padding: 0;
  padding-bottom: 1px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.miniature--activities__image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.miniature--activities__image--s {
  height: 118px;
}
.miniature--activities__image--m {
  height: 167px;
}
.miniature--activities__image--l {
  height: 366px;
}
.miniature--activities__description {
  margin: 15px 10px;
}

/*# sourceMappingURL=style-suggestions.css.map */
