@media screen and (max-width:768px)
{

    #main {
        margin:0;
        width: 100vw;
        border: 2px solid red;
    }

    header, .search-bloc {
        padding: 0 3vw;
    }

    section {
        min-width: 100vw;
        border: 3px solid green;

        .cartouche {
            margin:0;
            width:100vw;
            border-radius: 0;

            &__suggestions {
                order:2;
                background: white;
            }

            &__populars {
                order:1;
            }

            &__activities {
                order:3;
            }
        }

        .miniatures {
            
            width:100%;
            &__suggestions {
                justify-content: center;
            }

            &__populars {
                justify-content: center;
            }

            &__activities {
                border: 1px solid pink;
                height:auto;
            }
            
        }

    .miniature {
       
        &--suggestions {

        }

        &--populars {
                width:100vw;
                height:170px;
                display:flex;
                align-content: stretch;
        
                &__image{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    margin-right: 10px;
                    flex-shrink:0;
                }
            
        }

        &--activities {

            width:100%;
            border:3px solid red;
            margin-right: 0px;
            padding:0;
            padding-bottom: 1px;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    
            &__image {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
    
                &--s {height:118px}
                &--m {height:167px}
                &--l {height:366px}
            }
    
            &__description {
                margin:15px 10px;
            }
        }
    }
    }
}