/* 
============
|| NAVBAR || 
============
*/

header {

    min-height: 130px;
    margin-bottom: 14px;
    display:flex;
    justify-content: space-between;

    .logo-reservia {
        align-self: center;
        min-width: 110px;
        max-width: 110px;
        position:relative;
        top:12px;
    }

    .nav {
        align-self: stretch;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
   
    
        &__link {

            width: 180px;
            color:black;
            text-align: center;
            line-height: 120px;
            display: block;
            font-size: 18px;
            font-weight: 500;  
            border-top: 2.5px solid transparent;
            

            &--active {
                color: var(--blue);
                border-top: 2.5px solid var(--blue);
                font-weight: bold;
                
            }

            &--register {
                font-weight: bold; 
                color: var(--blue);
            }
    
            :hover {
                color: var(--blue);
            }

        }      
    }
}

/* 
=================
|| SEARCH BLOC || 
=================
*/

.search-bloc {

    margin-bottom: 50px;

    
}

.search-bar {
  
    height: 60px;
    margin: 22px 0;
    display: flex;

    &__location-icon {
        width: 60px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: rgb(223, 223, 223);
        border: 3px solid rgba(235, 234, 234, 0.267);
        font-size: 20px;
        text-align: center;
        line-height: 55px;
    }

    &__search-input {
        width: 267px;
        height: 59px;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    &__button {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 20px;
        color:white;
        font-weight: 600;
        font-size: 21px;
    
        border: none;
        background: var(--blue);
        cursor: pointer;
    }
}

/* 
=============
|| FILTERS || 
=============
*/

.filters {

    display:flex;
    height:74px;
    align-items: center;
    padding-left: 9px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

    > p {
        margin-right: 30px;
    }
}


.filter {

        border:2px solid lightgrey;
        height:57px;
        border-radius: 30px;
        padding: 10px 0;
        margin-right: 27px;
        display:flex;
        align-items: center;
        position:relative;
        transition: all .2s linear;
        cursor:pointer;

        &:hover {
            background-color: var(--blue);
            color:white;
            border: 2px solid blue;
        }


        p {
            margin-right:20px;
            margin-left: 69px;
        }

        &__icon{
            width: 57px;
            height: 57px;
            border-radius: 30px;
            position: absolute;
            left: -2px;
            background: var(--paleBlue);
        
            color: var(--blue);
            text-align: center;
            line-height: 60px;
        
        }
} 
              
/* 
==========
|| INFO || 
==========
*/

.search-info {
    margin-left: 8px;
    font-size: 18px;
    display:flex;
    align-items: center;

    &__icon-info {
        height:25px;
        width: 25px;
        border: 1.5px solid lightgrey;
        color:var(--blue);
        border-radius: 30px;
        text-align: center;
        margin-right:13px;
    }

    &__icon-info span {
        font-family: 'Trebuchet MS';
        font-size: 16px;    
    }
}