section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cartouche {
    
    background: var(--lightgrey);
    border-radius: 20px;
    padding-top:40px;
    padding-bottom:20px;
    padding-right:40px;
    padding-left:40px;

    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        color:black;
        font-weight: 600;
        cursor:pointer;
    }

    &__suggestions {
        margin-right:60px;
        width: 66%;
    }

    &__activities {
        background: white;
        width:100%;
    }

}


.miniatures {

    display:flex;

    &__suggestions {
        flex-wrap: wrap;
    }

    &__populars {
        flex-direction: column;
    }

    &__activities {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: flex-start;
        height:450px;
    }
}

.miniature {

    background: white; 
    margin : 15px 15px;
    padding: 5px;
    border-radius: 18px;
    box-shadow: 0 0 20px 1px rgba(109, 109, 109, 0.2);
    transition: all .2s linear;
    

    &:not(&--activities):hover{
        box-shadow: 0 0 30px 2px var(--grey);
        transform: translateY(-7px);
        background: var(--blue);
        color:white;
    }



    &__image {
        background-size: cover;
        background-position: center;
    }

    &__description {
        padding-left: 12px;

        p {

            &:nth-child(1) {
                margin: 8px 0;
                font-size: 16px;
                padding-right: 10px;
            }

            &:nth-child(2) {
                margin-bottom: 5px;
            }
        }
        
    }

    &--suggestions {
        width:280px;
        padding-bottom:10px;

        &__image{
            height:140px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    
    }

    &--populars {
        width:350px;
        height:170px;
        display:flex;
        align-content: stretch;

        &__image{
            width: 130px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-right: 10px;
            flex-shrink:0;
        }
    }

    &--activities {

        width:320px;
        margin-right: 50px;
        padding:0;
        padding-bottom: 1px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

        &__image {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            &--s {height:118px}
            &--m {height:167px}
            &--l {height:366px}
        }

        &__description {
            margin:15px 10px;
        }
    }

    

}












