.footer {
    height: 250px;
    background-color: var(--lightgrey);
    display: flex;
    align-items:flex-start;
    padding: 50px 50px;

    h2 {
        color:black;
        font-weight: 600;
        margin-bottom: 20px;
    }
 
    &__info {



        ul {
            list-style-type: none;
            padding-left: 0;
            margin-right: 300px;

            li {
                font-size: 18px;
                margin: 15px 0;
            }
        }

    }
    
}